# Git submodule definition file
#
# Reference:
#
# * Git - gitmodules Documentation
#   https://git-scm.com/docs/gitmodules
#
# Copyright 2024 林博仁(Buo-ren Lin) <buo.ren.lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0
[submodule "GitLab Pages"]
	path = GitLab Pages
	url = https://gitlab.com/libre-knowledge/gitlab-pages.git
	ignore = dirty
[submodule "GitLab Github Mirror Repo"]
	path = GitLab Github Mirror Repo：自動創建 GitLab 與 GitHub 專案並配置 GitLab 至 GitHub 的推送鏡像功能
	url = https://gitlab.com/lmoz25/gitlab-github-mirror-repo.git
	ignore = dirty
